<section class="ext-communityConfiguration-Features">
	<h3>{{ providers-title }}</h3>
	<div class="ext-communityConfiguration-Features__Grid">
		{{#providers}}
			<div class="ext-communityConfiguration-Features__Feature">
				<a href="{{ href }}">{{ title }}</a>
				<p>{{ description }}</p>
			</div>
		{{/providers}}
		<div class="ext-communityConfiguration-Features__Feature__offset"></div>
		<div class="ext-communityConfiguration-Features__Feature__offset"></div>
	</div>
</section>
