<section class="ext-communityConfiguration-Guidelines">
	<h3>{{ title }}</h3>
	<p class="ext-communityConfiguration-Guidelines__description">{{ description }}</p>
	<div class="ext-communityConfiguration-Guidelines__wrapper">
		{{#guidelines}}
			<div class="ext-communityConfiguration-Guidelines__Guideline">
				<h4>{{ title }}</h4>
				<p>{{{ description }}}</p>
			</div>
		{{/guidelines}}
	</div>
</section>
